#error-container {
  display: none;
  
  font-weight: bold;
  text-align: center;


  color: red;
  border: 3px solid red;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;

}

.new-tweet {
  width: 100%;
}

.tweet_count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  padding: 5px;

  font-family: Bungee;
}

.prompt {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#tweet-text {
  background-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-width: 4px;
  resize: none;

}

.button {
  background-color:  #4056a1;
  color:  #FFFF;
}

/* Class that is added when char-counter reaches negative */
.red-counter {
  color: red;
}