#tweet-section {

  justify-content: center;

  width: 100%;
  padding-top: 75px;
  
}

/* the box containing all the tweet info (img, name, handle, tweet, time, options */
.the-tweets {

  width: 100%;
  border: 3px solid #094074;
  padding: 20px;
  margin-bottom: 35px;


}

.the-tweets:hover {
  box-shadow: 5px 10px #3C6997;
}

/* The header contains the indentification info, */
.the-tweets header {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
}

.identity {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.identity img {

  display: flex;
  justify-content: left;
  

  width: 50px;
  height: 50px;
  margin-right: 10px;

}


/* The footer contains the time of the post and the options */
.the-tweets footer {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 25px;
  border-top: 5px solid grey;

}

.body {
  word-wrap: break-word;
}

.options {

  display: flex;
  justify-content: space-around;

  width: 100px;

}

.options i:hover {

  color: #A22C29;

}


